* {
  box-sizing: border-box;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-family: "Aldrich", sans-serif;
}

h1 {
  margin-bottom: 5vmin;
  color: #ffffff;
  font-size: 4vmin;
  background-color: #000000;
}

h2 {
  margin-top: 0;
  color: #3dd3ed;
  font-size: 3vmin;
  background-color: #000000;
}

.p-text {
  background-color: #000000;
  text-align: center;
  color: #3dd3ed;
  font-size: 2vmin;
}

.header {
  margin-top: 2vmin;
  align-content: center;
  text-align: center;
  height: 8vmin;
}

p {
  text-align: center;
  color: #3dd3ed;
}

.button-div {
  height: 5vmin;
}

#showScore {
  font-size: 2vmin;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #000000, #000000);
  background-image: url("https://i.imgur.com/rJcWN1K.jpg");
  background-size: cover;
  background-position: top center;
}

.main-div {
  animation: 1s linear 0s alternate infinite flicker;
  box-shadow: inset 0 0 3vmin #3dd3ed;
  padding: 3vmin;
}

@keyframes flicker {
  from {
    box-shadow: inset 0 0 2.5vmin #3dd3ed;
  }
  to {
    box-shadow: inset 0 0 1.25vmin #3dd3ed;
  }
}

#grid {
  margin-bottom: 1vmin;
  position: relative;
  top: 2vmin;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  background-color: #3dd3ed;

  border-radius: 1vmin;
  border: 1vmin solid #3dd3ed;
}

#grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vmin;
  width: 9vmin;
  background-color: rgb(0, 0, 0);
  border: 0.25vmin solid rgb(255, 255, 255);
}

input {
  display: flex;
  animation: 1s linear 0s alternate infinite flicker;
  box-shadow: inset 0 0 1.5vmin #3dd3ed;
  height: 8vmin;
  width: 8vmin;
  margin: 0;
  padding: 0;
  color: #3dd3ed;
  text-align: center;
  font-size: 5vmin;
  background-color: rgb(0, 0, 0);
  border: 0 solid rgb(255, 255, 255);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
  text-align: center;
  height: 10vmin;
  width: 10vmin;
}

button {
  position: relative;
  margin-top: 1vmin;
  padding: 1.5vmin;
  background-color: white;
  color: #3dd3ed;
  border-radius: 2vmin;
  font-size: 3.5vmin;
}

button:hover:not(:disabled) {
  background-color: #3dd3ed;
  color: white;
  cursor: pointer;
}

#easy-button {
  width: 20vmin;
  position: relative;
}

#crazy-button {
  width: 20vmin;
  position: relative;
}

#music-button {
  width: 15vmin;
  position: absolute;
  top: 3vmin;
  margin-top: 0;
  font-size: 1.5vmin;
  padding: 1vmin;
  border-radius: 1vmin;
}

.hide {
  display: none;
}
